name: Build EHoRY

on:
  workflow_call:
  push:
    branches: [ master ]

env:
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  CARGO_TERM_COLOR: always
  UPLOAD_TG: true

jobs:
  build-aarch64:
    name: Build for AArch64 Linux
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Setup Android NDK
      run: $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install "ndk;29.0.14206865"

    - name: Setup Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        target: aarch64-linux-android

    - name: Install cargo-ndk
      run: cargo install cargo-ndk

    - name: Install cross-compilation tools
      run: |
        sudo apt-get update
        sudo apt-get install -y upx coreutils python3

    - name: Build for AArch64
      run: |
        cd rshy
        cargo ndk --target aarch64-linux-android build --release
        cargo build --bin encoder
        upx --best --lzma /home/runner/work/EHoRY/EHoRY/rshy/target/aarch64-linux-android/release/rshy
        /home/runner/work/EHoRY/EHoRY/rshy/target/debug/encoder /home/runner/work/EHoRY/EHoRY/rshy/target/aarch64-linux-android/release/rshy rshy.data
        cat ../EHoRY.sh rshy.data > EHoRY.sh
        gzexe EHoRY.sh
        chmod +x EHoRY.sh

    - name: Cache cargo registry and build artifacts
      if: always()
      uses: actions/cache@v3
      with:
        path: |
          .cargo/registry
          .cargo/git
          /home/runner/work/EHoRY/EHoRY/rshy/target/aarch64-linux-android
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ runner.os }}-cargo-

    - name: Upload binary artifact
      uses: actions/upload-artifact@v4
      with:
        name: EHoRY
        path: rshy/EHoRY.sh
        retention-days: 7

    - name: Bot session cache
      if: env.UPLOAD_TG == 'true'
      id: bot_session_cache
      uses: actions/cache@v4
      with:
        path: scripts/kernelbot.session
        key: ${{ runner.os }}-bot-session

    - name: Upload to telegram
      if: env.UPLOAD_TG == 'true'
      env:
        CHAT_ID: ${{ vars.CHAT_ID }}
        BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        COMMIT_URL: ${{ github.event.head_commit.url }}
        RUN_URL: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
        REPOSITORY: ${{ github.repository }}
        AUTHOR: ${{ github.event.head_commit.author.name }}
        MESSAGE_THREAD_ID: 9
      shell: bash
      run: |
        if [ ! -z "${{ secrets.BOT_TOKEN }}" ]; then
          pip3 install telethon
          export NTIME=$(date '+%Y-%m-%d %H:%M:%S')
          python3 $GITHUB_WORKSPACE/scripts/kernelbot.py $GITHUB_WORKSPACE/rshy/EHoRY.sh
        fi